#dev-inspectors {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;
}

.dev-inspector {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
    user-select: none;
    display: none; 
    z-index: 10000;
    border: 1px solid #717171;
    background: #717171;
    cursor: move;
}

.dev-inspector.select {
    cursor: pointer;
}

.dev-inspector > label {
    display: flex;
    cursor: inherit;
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(180deg, #333 0, #000000 100%);
    justify-content: space-between;
    padding: 0 5px;
    position: relative;
    white-space: nowrap;
}

.dev-inspector > label > span {
    flex-grow: 1;
}

.dev-inspector .inspect {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.dev-inspector .toggle {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.scroll-v-track {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    display: none;
}

.scroll-v-box {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px outset #888;
}
