:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--app-bg-color);
}

body.isDragging {
  cursor: copy;
}

html, body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h2{
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

input {
  width: 100%;
  border: 1px solid #4f4f4f;
  background-color: #323030;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 50px;
  box-shadow: inset 3px 3px 2px #04040459;
  outline: 1px solid transparent;
  transition: 0.2s outline-color ease-in-out;
}

input.mixed {
  color: #777;
  font-style: italic;
  text-align: center;
}

input:focus {
  outline: 1px solid #5a67c2;
}

canvas.viewport {
  transition: opacity 1.25s ease-in-out;
  opacity: 1;
}

canvas.hide-viewport {
  opacity: 0;
}