.lm_goldenlayout {
    background-color: transparent;
}

.lm_tabs {
    height: calc(100% - 6px);
}

.lm_tab {
    height: 100% !important;
}

.lm_tab[title="Hierarchy"] .lm_close_tab,
.lm_tab[title="Properties"] .lm_close_tab,
.lm_tab[title="Project"] .lm_close_tab
 {
    display: none;
}

.no_splitter_hover .lm_splitter:hover {
    opacity: 0;
}

.lm_header .lm_tab.lm_active {
    box-shadow: 0 -2px 2px #00000078;
}